/*Base*/
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */ }

a:hover {
  /* color: inherit; */
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

body {
  font-family: 'Segoe UI', sans-serif; }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

/*Blocks*/
.nav {
  position: fixed;
  width: 100%;
  padding: 4px 0;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1);
  color: #2A3950;
  font-family: 'Segoe UI';
  user-select: none;
  z-index: 999; }
  .nav .button {
    margin-left: 50px; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: flex;
  align-items: center; }

.navigation {
  display: flex;
  align-items: center; }
  .navigation .vertical-line {
    width: 2px;
    height: 60px;
    left: 1367px;
    top: 20px;
    background: #006270;
    opacity: 0.2;
    border-radius: 10px;
    margin: 0 25px; }
  .navigation .client {
    display: flex;
    align-items: center;
    color: #2A3950; }
    .navigation .client img {
      margin-right: 10px; }
    .navigation .client .client__name {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px; }
    .navigation .client .client__suptitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px; }

.logo__text {
  display: flex;
  flex-direction: column;
  color: #2A3950; }

.logo__world {
  color: #00ABE6;
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 35.9392px;
  line-height: 43px; }

.logo__fly {
  color: #2A3950; }

.button {
  padding: 11px 44px;
  background: #2A3950;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px; }
  .button span {
    color: #FFFFFF;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px; }

.intro {
  width: 100%;
  background: url(../img/landscape.svg) center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px; }
  .intro h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 84px;
    line-height: 112%;
    text-align: center;
    color: #006270;
    text-shadow: 0px 6px 2px rgba(0, 0, 0, 0.2); }
  .intro p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #006270;
    padding-top: 20px; }

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  margin-top: 80px; }
  .intro__inner .button {
    margin: 40px 0 160px 0; }

.tabs {
  width: 100%;
  filter: drop-shadow(0px 14px 34px rgba(0, 0, 0, 0.2)); }
  .tabs .button {
    margin: 77px 20px 0 20px;
    background: #00E0C7;
    height: 50px;
    border: none; }

.tabs > input[type="radio"] {
  display: none; }

.tabs > div {
  display: none;
  padding: 10px 15px;
  font-size: 16px; }

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 10px 10px 0px 0px;
  padding: 23px 73px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #2A3950; }

.tabs > label:not(:first-of-type) {
  border-left: none; }

.tabs > input[type="radio"]:checked + label {
  background-color: #fff;
  opacity: 1; }

/*Datepicker*/
.form {
  margin: 40px 20px; }
  .form [type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat; }
  .form [type="date"]::-webkit-inner-spin-button {
    display: none; }
  .form [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0; }
  .form label {
    display: block;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #009394;
    margin-bottom: 5px; }
  .form input {
    border: 1px solid #2A3950;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 10px;
    width: 230px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    color: #2A3950;
    height: 50px; }

.about {
  width: 100%;
  background-color: #2a3950; }
  .about .about__container {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 680px;
    align-items: center; }
  .about .about__img {
    padding-right: 25px; }
  .about .button {
    background: #00E0C7;
    height: 50px;
    margin-top: 50px;
    width: fit-content; }
  .about .about__text {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-left: 25px; }
    .about .about__text .about__slogan {
      font-family: 'Denk One';
      font-weight: 400;
      font-size: 40px;
      line-height: 62px;
      text-transform: capitalize;
      opacity: 0.7; }
    .about .about__text .about__desc {
      font-family: 'Segoe UI';
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      opacity: 0.7; }

.title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 112%;
  color: #FFFFFF;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
  padding: 10px 0 15px 0; }

.suptitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.7; }

.offers {
  width: 100%;
  background-color: #214056; }
  .offers .offers__map {
    position: relative;
    padding-bottom: 150px; }
    .offers .offers__map .offers__pin1 {
      position: absolute;
      left: 25%;
      bottom: 35%; }
    .offers .offers__map .offers__pin2 {
      position: absolute;
      left: 50%;
      top: 0%; }
    .offers .offers__map .offers__pin3 {
      position: absolute;
      left: 85%;
      bottom: 30%; }
  .offers .offers__card {
    background: #FFFFFF;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    position: absolute; }
    .offers .offers__card .offers__img {
      border: 2px solid #FFFFFF;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      width: 310px;
      height: 180px; }
  .offers .rome {
    top: -10%;
    left: 5%; }
  .offers .paris {
    bottom: 15%;
    left: 35%; }
  .offers .maldives {
    top: -15%;
    right: 5%; }
  .offers .offers__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: #2A3950; }
  .offers .offers__suptitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: #006270; }
  .offers .title {
    text-align: center;
    padding: 100px 0 15px 0; }
  .offers .suptitle {
    text-align: center;
    margin-bottom: 130px; }

.footer-distributed {
  background: #006270;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px Segoe UI;
  padding: 55px 50px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

/* Footer left */
.footer-distributed .footer-left {
  width: 40%; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none; }

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px; }

.footer-distributed .footer-links .link-1:before {
  content: none; }

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

/*# sourceMappingURL=main.css.map */
