.intro {
    width: 100%;
    height: 140vh;
    background: url(../img/landscape.svg) center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 75px;

    h1 {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        font-size: 84px;
        line-height: 112%;
        text-align: center;
        color: #006270;
        text-shadow: 0px 6px 2px rgba(0, 0, 0, 0.2);
    }

    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #006270;
        padding-top: 20px;
    }
}
.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    margin-top: 80px;

    .button {
        margin-left: 0;
        margin-top: 40px;
    }
}