.nav {
    position: fixed;
    width: 100%;
    padding: 4px 0;
    background: rgba(255, 255, 255,0.5);
    box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1);
    color: #2A3950;
    font-family: 'Segoe UI';
    user-select: none;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;

    .vertical-line {
        width: 2px;
        height: 60px;
        left: 1367px;
        top: 20px;
        background: #006270;
        opacity: 0.2;
        border-radius: 10px;
        margin: 0 25px;
    }

    .client {
        display: flex;
        align-items: center;
        color: #2A3950;

        img {
            margin-right: 10px;
        }

        .client__name {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }

        .client__suptitle {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
.logo__text {
    display: flex;
    flex-direction: column;
    color: #2A3950;
}
.logo__world {
    color: #00ABE6;
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 35.9392px;
    line-height: 43px;
}
.logo__fly {
    color: #2A3950;
}
.button {
    padding: 11px 44px;
    background: #2A3950;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 50px;

    span {
        color: #FFFFFF;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
    }
}
