.offers {
    width: 100%;
    background-color: #214056;

    .offers__map {
        position: relative;
        padding-bottom: 100px;

        .offers__pin1 {
            position: absolute;
            left: 25%;
            bottom: 35%;
        }

        .offers__pin2 {
            position: absolute;
            left: 50%;
            top: 0%;
        }

        .offers__pin3 {
            position: absolute;
            left: 85%;
            bottom: 30%;
        }
    }

    .offers__card {
        background: #FFFFFF;
        box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        width: fit-content;
        padding: 20px;
        position: absolute;

        .offers__img {
            border: 2px solid #FFFFFF;
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            width: 310px;
            height: 180px;
        }
    }

    .rome {
        top: -10%;
        left: 5%;
    }

    .paris {
        bottom: 0;
        left: 35%;
    }

    .maldives {
        top: -15%;
        right: 5%;
    }

    .offers__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        color: #2A3950;
    }

    .offers__suptitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 125%;
        color: #006270;
    }

    .title {
        text-align: center;
        padding: 100px 0 15px 0;
    }

    .suptitle {
        text-align: center;
        margin-bottom: 130px;
    }
}
